*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;

}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.escola-imagem{
    width: 25%;
}

.rosa{
    background-image: linear-gradient(#dd4b88,#a916f8);

	
}

.escola-div-conteudo{
    width: 35%;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 100px;
    padding: 13px 0;
   
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

nav{
	top: 110px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px; /* top right bottom left */
}

nav a {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none; /*sem decoração - era o que deixava o texto sublinhado*/
}

nav a:hover {
	color: 	#66566a;
	text-decoration: underline;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;  /*espaçamento externo*/
    padding: 30px 20px; /*espaçamento interno*/
    box-sizing: border-box; /*corrigindo o problema de soma percentual com pixel*/
    border: 3px solid #000000; /*declaração unificada*/
    border-radius: 10px; /*declarando bordas arredondadas*/
    /*border-color: #000000;
	border-width: 2px;
	border-style: solid;*/
}

.produtos {
	width: 940px; /*Tamanho padrão para telas*/
	margin: 50px auto;
}

.produtos li:hover {
	border-color: #C78990 ;
	border-style: bold;

}

.produtos li:active {
	border-color: #0088C9;
	border-style: bold;

}

.produtos li:hover h2{
	font-size: 30px;

}
.produtos h2{
	font-weight: bold;
	font-size: 25px;
}

.produto-preço {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 0 ;
}

.produto-descricao {
	font-size: 18px;
}

.texto {
    font-size: 16px;
    padding: 24px 0;
}
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    main {
        padding: 10px;
    }

    h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.5em;
    }
}

/* Estilos para dispositivos grandes (computadores) */
@media (min-width: 769px) {
    header {
        padding: 20px 0;
    }

    nav ul li {
        margin: 0 20px;
    }

    main {
        padding: 40px;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
    }
}


.section-content {
    text-align: center;
    width: 90%;
    height: 20%;
    background-color: transparent;
    margin: 10px auto;
    overflow: none;
    padding: 20px;
    border: 1px solid rgb(249, 247, 247);
    border-radius: 10px;
    margin-bottom: 2.5%;
    z-index: 4;
  }
  

  .section-content-contato {
    text-align: center;
    width: 90%;
    height: 20%;
    margin: 10px auto;
    background: linear-gradient(180deg, );
    border: 1px;
    border: solid rgb(255, 234, 234);
    border-radius: 10px;
    margin-bottom: 2.5%;
    z-index: 4;
    color: #000000;
  }

  .section-content video{
    background-color: rgb(2, 21, 27);
    border:2px  solid white;
    border-radius: 10px;
    width: 24%;
    height: 700px ;
    text-align: center;
    transition: all 0.3s ease;
  }

  .section-content video:hover{
    box-shadow: #474646 0 0 33px;
    background: radial-gradient( #031e31 10%, #051234 100%) ;
    border: 1%;
    border: solid white;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    transform: scale(95%);
    
  }

  
  .ft-projetos{
    background-color: rgb(2, 21, 27);
    margin-left: 1%;
    align-items: center;
    border: 2px;
    border: solid var(--borda);
    border-radius: 12%;
    width: 30%;
    height: 30%;
    transition: all 0.4s ease;
  }

  
  .ft-projetos:hover {
    background: radial-gradient( #03053e 50%, #03174b 100%) ;
    margin-left: 1%;
    align-items: center;
    border: 2px;
    border: solid var(--borda);
    border-radius: 8%;
    transform: scale(1.5);
    z-index: 11;
    image-rendering:crisp-edges;
  }